<h2>All Wares</h2>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Company</th>
      <th>Model</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody><%= render @wares %></tbody>
</table>

<%= link_to 'Back', root_path %>