<h2>All users</h2>

<table class="table table-hover">
  <thead class="thead-inverse">
    <rt>
      <th>Id</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Image</th>
      <th></th>
      <th>Links</th>
      <th></th>
      <th></th>
    </rt>
  </thead>
  <tbody id="users"><%= render @users %></tbody>
</table>

<%= will_paginate @users %>