<h1>Sportsman info</h1>

<h3>Name: <%= @sportsman.name %></h3>
<h3>Kind of sport: <%= @sportsman.sport %></h3>
<h3>Sportsman rank: <%= @sportsman.rank %></h3>

<p><%= link_to 'Back', sportsmen_path %></p>