/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

p{
  text-align: justify;
  margin: 0 0 15px;

  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 16px;
}

#first {
  margin: 15px;
}

#second {
  margin: 15px;
}

.logout {
  float: right;
}

h2{
  font-size: 70px;
  font-family: DauphinPlain;
  text-align: center;
}

form{
  margin-left: 26%;
  width: 50%
}
body{
  background-color: LightGoldenRodYellow ;
}

h3{
  background-color: LightCyan ;
  width: 50%;
  padding: 10px;
}