<h1>You are sign in as admin</h1>
<ul>
  <li><%= link_to 'Show all users', admin_users_path %></li>
  <li><%= link_to 'Create new user', new_admin_user_path %></li>
  <li><%= link_to 'Show all students', admin_students_path %></li>
</ul>