<div class="p-3 mb-2 bg-dark text-white" >

  <h1 >All courses</h1>
  <table>
    <tr>
      <th>Name</th>
    </tr>

    <%= render @courses %>
  </table>
  <%= will_paginate @courses %>
  <%= link_to 'Create new course', new_course_path %>
</div>