<h1>Show smartphone</h1>

<h3>Model: <%= @smartphone.model %></h3>

<h3>Price: <%= @smartphone.price %></h3>

<h3>Characteristic: <%= @smartphone.characteristic %></h3>

<p><%= link_to 'Back', smartphones_path %></p>