<h1 class="text-info" align="center">All airport directions</h1>

<% @cities.each do |city| %>
  <ul>
    <li>
      <%= link_to "#{city.name} (#{city.country.name})",
      city_planes_path(city) %>  
    </li>
  </ul>
<% end %>

<%= will_paginate @cities %>
