<h2>All Laptops</h2>

<table>
  <thead>
    <tr>
      <th>Type of devise</th>
      <th>Company</th>
      <th>Model</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody><%= render @laptops %></tbody>
</table>

<%= link_to 'Back', root_path %>