<h1 align="center">Show resident's info</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone number</th>
  </tr>

  <%= render @directory %>
</table>

<%= link_to 'Back', directories_path %>