<h1>All users</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Admin?</th>
    <th>Linkes</th>
  </tr>

  <%= render @users %>
</table>

<%= will_paginate @users %>

<%= link_to 'Create new user', new_admin_user_path %><br>
<%= link_to 'Back', admin_path %>