<h2>All user</h2>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Avatar</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="users"><%= render @users %></tbody>
</table>

<%= will_paginate @users %>